@model IEnumerable<RamosGuillenTrujilloProyectoPorgreso1.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntoPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantPersonas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntoPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPersonas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReserva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReserva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReserva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
